<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <honeypot>
                <enable>0</enable>
                <field_name>url</field_name>
                <field_class>url required</field_class>
            </honeypot>
        </system>
    </default>
</config>